# Etude de regression linéaire multiple sur la prediction des salaires en ville de BUTEMBO

Dans ce etude nous allons crée un modèle de regression lineaire multiple sur la prediction des salaires en ville de Butembo, en se basant globalement sur le temps passer en entreprise, le nombre d'enfant.

# Importation des librairies

In [22]:
# importation des librairies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [23]:
# on va chercher a savoir l'emplacement du fichier courant
import os
os.getcwd()

'C:\\Users\\Victoire\\anaconda3\\Projets\\Learning\\Memoire Haraka\\rl-multiple-prediction-salaire'

In [24]:
# importation du dataset
Data = pd.read_csv('SalairesOD.csv')
Data

     Temps-au-sein-de-votre-eSE  Nbr-enfants  Salaire
0                           1.0            0       50
1                           0.5            0       30
2                           1.0            0       50
3                           2.0            1        0
4                          10.0            0      100
..                          ...          ...      ...
242                         1.0            0       20
243                         0.5            1      100
244                         1.0            0      200
245                         3.0            1      200
246                         1.0            0      200

[247 rows x 3 columns]

In [25]:
# on divise le dataset
# on met dans X toutes les colonnes sauf la dernier qui est la variable expliquer
# on met dans Y la dernier colonne uniquement sauf les colonnes portant les variables explicatifs
X = Data.iloc[:,:-1]
Y = Data.iloc[:,-1]

In [26]:
# on visualise les variables explicatifs
X

     Temps-au-sein-de-votre-eSE  Nbr-enfants
0                           1.0            0
1                           0.5            0
2                           1.0            0
3                           2.0            1
4                          10.0            0
..                          ...          ...
242                         1.0            0
243                         0.5            1
244                         1.0            0
245                         3.0            1
246                         1.0            0

[247 rows x 2 columns]

In [27]:
# on visualise la variable expliquer
Y

0       50
1       30
2       50
3        0
4      100
      ...
242     20
243    100
244    200
245    200
246    200
Name: Salaire, Length: 247, dtype: int64

In [28]:
# On divise le dataset
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [29]:
# on affiche le donnees de X apres entrainement en 0.2 ou 20%
X_train

     Temps-au-sein-de-votre-eSE  Nbr-enfants
231                         4.0            0
31                          0.5            0
239                         3.0            2
145                         2.0           10
128                         3.0           10
..                          ...          ...
241                         1.0            0
51                          3.0            0
212                         3.0            2
138                         5.0            1
20                          2.0           10

[197 rows x 2 columns]

# Construction du model

In [30]:
# on construit le model
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [31]:
# on cree la fx pour la rediction
Y_pred = regressor.predict(X_test)

In [32]:
# on affcihe les valeurs de prediction de notre model
Y_pred

array([323.5005101 , 323.5005101 , 276.14980499, 117.20745107,
       175.82798809, 140.88280363, 148.77458781, 125.09923526,
       154.40950377, 125.09923526, 284.04158918, 148.77458781,
       160.04441972, 167.9362039 , 117.20745107, 113.26155898,
       276.14980499, 268.25802081, 125.09923526, 117.20745107,
       113.26155898, 284.04158918, 188.23350874, 132.99101944,
       117.20745107, 132.99101944, 113.26155898, 323.5005101 ,
       323.5005101 , 268.25802081, 113.26155898, 140.88280363,
       130.73415121, 125.09923526, 160.04441972, 167.9362039 ,
       323.5005101 , 148.77458781, 323.5005101 , 323.5005101 ,
       167.9362039 , 323.5005101 , 125.09923526, 152.15263553,
       175.82798809, 132.99101944, 117.20745107, 125.09923526,
       146.51771958, 132.99101944])

In [33]:
# on affcihe les valeurs de la realité pour notre model
Y_test

173      90
170      90
144     300
22       50
169     200
158      70
35      100
66      200
192     100
88      150
224     500
217      50
23       30
114     200
246     200
42      500
142     350
147     300
176      50
10       50
26      500
148     200
64       90
99      250
77      200
191     100
44      300
163    1000
181     300
112      70
15       25
201      50
160     100
198      80
81      500
126     100
236     300
219      80
164     500
52     1000
109      80
215     500
9        30
63       90
168     150
155      50
186      50
161      80
230      80
221     150
Name: Salaire, dtype: int64

# Prediction a partir de notre model

In [34]:
# on va chercher a predir apartir de notre model pour des donnees qui ne sont pas dans le dataset
regressor.predict([[5,0]])

C:\Users\Victoire\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([148.77458781])